<a href="https://colab.research.google.com/github/ankitg-02/customer_analysis/blob/main/quantium_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#importing data from transaction excelsheet
transaction=pd.read_excel("/content/QVI_transaction_data.xlsx")
#importing data from puchase behaviour csv file
purchase_behaviour=pd.read_csv("/content/QVI_purchase_behaviour.csv")

In [3]:
#dataset for the transaction
transaction_data=pd.DataFrame(transaction)
print(transaction_data)

         DATE  STORE_NBR  LYLTY_CARD_NBR  TXN_ID  PROD_NBR  \
0       43390          1            1000       1         5
1       43599          1            1307     348        66
2       43605          1            1343     383        61
3       43329          2            2373     974        69
4       43330          2            2426    1038       108
...       ...        ...             ...     ...       ...
264831  43533        272          272319  270088        89
264832  43325        272          272358  270154        74
264833  43410        272          272379  270187        51
264834  43461        272          272379  270188        42
264835  43365        272          272380  270189        74

                                       PROD_NAME  PROD_QTY  TOT_SALES
0         Natural Chip        Compny SeaSalt175g         2        6.0
1                       CCs Nacho Cheese    175g         3        6.3
2         Smiths Crinkle Cut  Chips Chicken 170g         2        2.9
3         Smiths Chip Thinly  S/Cream&Onion 175g         5       15.0
4       Kettle Tortilla ChpsHny&Jlpno Chili 150g         3       13.8
...                                          ...       ...        ...
264831   Kettle Sweet Chilli And Sour Cream 175g         2       10.8
264832             Tostitos Splash Of  Lime 175g         1        4.4
264833                  Doritos Mexicana    170g         2        8.8
264834   Doritos Corn Chip Mexican Jalapeno 150g         2        7.8
264835             Tostitos Splash Of  Lime 175g         2        8.8

[264836 rows x 8 columns]

In [4]:
print(transaction_data["TOT_SALES"].count())

264836

In [5]:
#Company Name="Cobs"
# count of chips item in prod_name=Cobs Popd Sea Salt Chips 110g column in transaction data
count_for_chips_1=0
for i in transaction_data["PROD_NAME"]:
  if i=="Cobs Popd Sea Salt  Chips 110g" :
    count_for_chips_1+=1
# count of chips item in prod_name=Cobs Popd Sour Crm &Chives Chips 110g column in transaction data
count_for_chips_2=0
for i in transaction_data["PROD_NAME"]:
  if i=="Cobs Popd Sour Crm  &Chives Chips 110g":
    count_for_chips_2+=1
# count of chips item in prod_name=Cobs Popd Swt/Chlli &Sr/Cream Chips 110g column in transaction data
count_for_chips_3=0
for i in transaction_data["PROD_NAME"]:
  if i=="Cobs Popd Swt/Chlli &Sr/Cream Chips 110g":
    count_for_chips_3+=1
count_for_Cobs=count_for_chips_1+count_for_chips_2+count_for_chips_3
print("count for Cobs chips=",count_for_Cobs)

#Company Name="Doritos"
# count of chips item in prod_name=Doritos Corn Chips  Cheese Supreme 170g column in transaction data
count_for_chips_4=0
for i in transaction_data["PROD_NAME"]:
  if i=="Doritos Corn Chips  Cheese Supreme 170g":
    count_for_chips_4+=1
# count of chips item in prod_name=Doritos Corn Chips  Nacho Cheese 170g column in transaction data
count_for_chips_5=0
for i in transaction_data["PROD_NAME"]:
  if i=="Doritos Corn Chips  Nacho Cheese 170g":
    count_for_chips_5+=1
# count of chips item in prod_name=Doritos Corn Chips  Original 170g column in transaction data
count_for_chips_6=0
for i in transaction_data["PROD_NAME"]:
  if i=="Doritos Corn Chips  Original 170g":
    count_for_chips_6+=1
count_for_Doritos=count_for_chips_4+count_for_chips_5+count_for_chips_6
print("count for Doritos product=",count_for_Doritos)
#Unique Product="French Fries"
# count of chips item in prod_name=French Fries Potato Chips 175g column in transaction data
count_for_chips_7=0
for i in transaction_data["PROD_NAME"]:
  if i=="French Fries Potato Chips 175g":
    count_for_chips_7+=1
print("count for French Fries chips=",count_for_chips_7)

#Company Name="Smiths"
# count of chips item in prod_name=Smiths Crinkle Chips Salt & Vinegar 330g column in transaction data
count_for_chips_8=0
for i in transaction_data["PROD_NAME"]:
  if i=="Smiths Crinkle Chips Salt & Vinegar 330g":
    count_for_chips_8+=1
# count of chips item in prod_name=Smiths Crinkle Cut  Chips Barbecue 170g column in transaction data
count_for_chips_9=0
for i in transaction_data["PROD_NAME"]:
  if i=="Smiths Crinkle Cut  Chips Barbecue 170g":
    count_for_chips_9+=1
# count of chips item in prod_name=Smiths Crinkle Cut  Chips Chicken 170g column in transaction data
count_for_chips_10=0
for i in transaction_data["PROD_NAME"]:
  if i=="Smiths Crinkle Cut  Chips Chicken 170g":
    count_for_chips_10+=1
# count of chips item in prod_name=Smiths Crinkle Cut  Chips Chs&Onion170g column in transaction data
count_for_chips_11=0
for i in transaction_data["PROD_NAME"]:
  if i=="Smiths Crinkle Cut  Chips Chs&Onion170g":
    count_for_chips_11+=1
# count of chips item in prod_name=Smiths Crinkle Cut  Chips Original 170g column in transaction data
count_for_chips_12=0
for i in transaction_data["PROD_NAME"]:
  if i=="Smiths Crinkle Cut  Chips Original 170g":
    count_for_chips_12+=1
count_for_Smiths=count_for_chips_7+count_for_chips_8+count_for_chips_9+count_for_chips_10+count_for_chips_11+count_for_chips_12
print("count for Smiths chips=",count_for_Smiths)
#Company Name="Thins"
# count of chips item in prod_name=Thins Chips         Originl saltd 175g column in transaction data
count_for_chips_13=0
for i in transaction_data["PROD_NAME"]:
  if i=="Thins Chips         Originl saltd 175g":
    count_for_chips_13+=1
# count of chips item in prod_name=Thins Chips         Originl saltd 175g column in transaction data
count_for_chips_14=0
for i in transaction_data["PROD_NAME"]:
  if i=="Thins Chips         Originl saltd 175g":
    count_for_chips_14+=1
# count of chips item in prod_name=Thins Chips Salt &  Vinegar 175g column in transaction data
count_for_chips_15=0
for i in transaction_data["PROD_NAME"]:
  if i=="Thins Chips Salt &  Vinegar 175g":
    count_for_chips_15+=1
# count of chips item in prod_name=Thins Chips Seasonedchicken 175g column in transaction data
count_for_chips_16=0
for i in transaction_data["PROD_NAME"]:
  if i=="Thins Chips Seasonedchicken 175g":
    count_for_chips_16+=1
# count of chips item in prod_name=Thins Potato Chips  Hot & Spicy 175g column in transaction data
count_for_chips_17=0
for i in transaction_data["PROD_NAME"]:
  if i=="Thins Potato Chips  Hot & Spicy 175g":
    count_for_chips_17+=1
count_for_Thins=count_for_chips_13+count_for_chips_14+count_for_chips_15+count_for_chips_16+count_for_chips_17
print("count for Thins chips=",count_for_Thins)
#Company Name="WW"
# count of chips item in prod_name=WW Original Corn    Chips 200g column in transaction data
count_for_chips_18=0
for i in transaction_data["PROD_NAME"]:
  if i=="WW Original Corn    Chips 200g":
    count_for_chips_18+=1
# count of chips item in prod_name=WW Original Stacked Chips 160g column in transaction data
count_for_chips_19=0
for i in transaction_data["PROD_NAME"]:
  if i=="WW Original Stacked Chips 160g":
    count_for_chips_19+=1
# count of chips item in prod_name=WW Supreme Cheese   Corn Chips 200g column in transaction data
count_for_chips_20=0
for i in transaction_data["PROD_NAME"]:
  if i=="WW Supreme Cheese   Corn Chips 200g":
    count_for_chips_20+=1
# count of chips item in prod_name=WW Sour Cream &OnionStacked Chips 160g column in transaction data
count_for_chips_21=0
for i in transaction_data["PROD_NAME"]:
  if i=="WW Sour Cream &OnionStacked Chips 160g":
    count_for_chips_21+=1
count_for_WW=count_for_chips_18+count_for_chips_19+count_for_chips_20+count_for_chips_21
print("count for WW chips=",count_for_WW)

count for Cobs chips= 9693
count for Doritos product= 9498
count for French Fries chips= 1418
count for Smiths chips= 10530
count for Thins chips= 12328
count for WW chips= 5974

In [6]:
Total_count=count_for_Cobs+count_for_Doritos+count_for_chips_7+count_for_Smiths+count_for_Thins+count_for_WW
print("Total count for chips=",Total_count)

Total count for chips= 49441

In [7]:
#ratio for chips purchase
Chips_ratio=(Total_count/(transaction_data["TOT_SALES"].count()))
print("Chips purchase ratio=",Chips_ratio)

Chips purchase ratio= 0.18668534489268832

In [8]:
#dataset for the purchase behaviour
purchase_behaviour_data=pd.DataFrame(purchase_behaviour)
print(purchase_behaviour_data)

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

In [12]:
#fetching different lifestage from purchase_behaviour file
lifestage=[]
for i in purchase_behaviour_data["LIFESTAGE"]:
  if i not in lifestage:
    lifestage.append(i)
print(lifestage)

['YOUNG SINGLES/COUPLES', 'YOUNG FAMILIES', 'OLDER SINGLES/COUPLES', 'MIDAGE SINGLES/COUPLES', 'NEW FAMILIES', 'OLDER FAMILIES', 'RETIREES']

In [22]:
#fetching LYLTY_CARD_NBR for lifestage="YOUNG SINGLES/COUPLES"
LYLTY_CARD_NBR_for_YSG=[]
for i in purchase_behaviour_data["LYLTY_CARD_NBR"]:
   if i in purchase_behaviour_data["LIFESTAGE"]=="YOUNG SINGLES/COUPLES":
           LYLTY_CARD_NBR_for_YSG.append(i)
print(LYLTY_CARD_NBR_for_YSG)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().